{% extends 'layouts/base.html' %}

{% block title %} Maps {% endblock title %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          {% include "detections/cards-status.html" %}
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">
      <!-- Detectecion Image-->
      <div class="row">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <div class="card bg-gradient-default shadow">

            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-light ls-1 mb-1">Detection Photo</h6>
                  <h2 class="text-white mb-0">{{ detection.name }}</h2>
                </div>

                <!-- Menu vertical -->
                <!-- https://getbootstrap.com/docs/4.0/components/navs/ -->
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">

                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Type</a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item " id="rgb-tab" data-toggle="tab" href="#rgb" role="tab" aria-controls="rgb" >RGB</a>
                        <a class="dropdown-item" href="#">Without ground</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" id="ndvi-tab" data-toggle="tab" href="#ndvi" role="tab" aria-controls="ndvi" >NDVI</a>
                        <a class="dropdown-item" href="#">SAVI</a>
                        <a class="dropdown-item" href="#">EVI2</a>
                      </div>
                    </li>

                  </ul>
                </div>

              </div>
            </div>

            <div class="card-body">
              <div class="tab-content card shadow border-0">

                <div class="tab-pane fade show active" id="rgb" role="tabpanel" aria-labelledby="rgb-tab">
                  <img height="470px" alt="{{ detection.name }}" src="{{ detection.picture.url }}">
                </div>

                <div class="tab-pane fade" id="ndvi" role="tabpanel" aria-labelledby="ndvi-tab">
                  <img height="470px" alt="{{ detection.name }}" src="{{ detection.picture_ndvi.url }}">
                </div>

              </div>
            </div>

          </div>
        </div>
        <div class="col-xl-4">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                  <h2 class="mb-0">Total orders</h2>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <canvas id="chart-orders" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-xl-12 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Data</h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Data table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Creator: {{ detection.user.get_full_name }}</th>
                    <th scope="col">Name: {{ detection.name }}</th>
                    <th scope="col">
                      Status: {{ detection.satatus_of_field }}

                      {% if detection.satatus_of_field == 'good' %}
                        <i class="fas fa-arrow-up text-success mr-3"></i>
                      {% elif detection.satatus_of_field == 'save' %}
                        <i class="fas fa-arrows-alt-v text-warning mr-3"></i>
                      {% else %}
                        <i class="fas fa-arrow-down text-danger mr-3"></i>
                      {% endif %}
                    </th>
                    <th scope="col">Created: {{detection.created }}</th>
                  </tr>
                </thead>
              </table>
              {% if notes %}
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Note name</th>
                      <th scope="col">User</th>
                      <th scope="col">Created</th>
                      <th scope="col">Text</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for note in notes %}
                      <tr>
                        <th scope="row"> {{ note.name }} </th>
                        <td> {{ note.user.get_full_name }} </td>
                        <td> {{ note.created }} </td>
                        <td>
                         <div style="width:200px; height:auto;">
                          {{ note.text }}
                         </div>
                        </td>

                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% endif %}
            </div>
          </div>
        </div>
      </div>


      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
